<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <h5>Начать</h5>
                <ul>
                    <li><a href="/">Главная страница</a></li>
                    <li><a href="/new">Играть</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>О нас</h5>
                <ul>
                    <li><a href="https://github.com/waleko/wiki_race">GitHub</a></li>
                    <li><a href="mailto:a.kovrigin0@gmail.com">Контакты</a></li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Александр Ковригин</p>
    </div>
</footer>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-1" aria-hidden="true" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Ожидание начала игры...</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="button-close"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    Пригласите своих друзей и играйте вместе!
                    <button class="btn btn-outline-info" onclick="copyInviteLink()">Скопировать ссылку-приглашение</button>
                </div>
                <h5 id="header-solution">Возможное решение: <p id="text-solution"></p></h5>
                <p>Игроки:</p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody id="leaderboard-table">
                        </tbody>
                    </table>
                </div>
                <div id="host-panel" class="pb-3">
                    <hr>
                    <h5>Настройки раунда:</h5>
                    <form id="new-round-form">
                        <div class="row m-1 pt-3" style="padding-bottom: 50px;">
                            <div class="col-3">
                                <label>
                                    Начальная страница
                                    <input class="typeahead form-control" type="text" placeholder="Старт" name="origin"
                                           id="myorigin" required>
                                </label>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-secondary px-2 myshuffle" aria-label="Shuffle"
                                        onclick="setRandomOriginAndTitle()">
                                    <i class="bi bi-shuffle"></i>
                                </button>
                            </div>
                            <div class="col-3">
                                <label>
                                    Целевая страница
                                    <input class="typeahead form-control" type="text" placeholder="Цель" name="target"
                                           id="mytarget" required>
                                </label>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" type="submit" id="button-new-round">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                          id="button-new-round-spinner"></span>
                                    Начать новый раунд
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-secondary">Не получается придумать интересные страницы? Как насчёт пройти <a class="alert-link" href="#" onclick="useSuggestedRound(); return false;"
                                      id="suggested-route"></a>?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" id="button-waiting" disabled>
                    Ожиидание хоста...
                </button>
                <button class="btn btn-secondary" type="button" id="button-finish-early" onclick="requestFinishEarly()">
                    Завершить раунд сейчас
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="/static/js/vanilla-zoom.js"></script>
<script src="/static/js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/typeahead.bundle.min.js"></script>
<script src="/static/js/wikigame.js"></script>
</body>

</html>