{% include "base/header.html" %}
<main class="page">
    <section class="clean-block clean-form dark">
        <div class="container pt-5">
            <form method="get" enctype="application/x-www-form-urlencoded" action="/api/create">
                <h5>Create new lobby</h5>
                <br>
                <label class="form-label">Enter your name:</label>
                <input class="form-control" type="text" required="" name="name" placeholder="Name">
                <label class="form-label">Choose time given for each round:</label>
                <input class="form-range form-control" type="range" name="time_limit_seconds" value="600"
                       min="{{ min_seconds }}" max="{{ max_seconds }}" required=""
                       oninput="this.nextElementSibling.value = secondsToText(this.value)">
                <output>10:00</output>
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Create lobby</button>
            </form>
        </div>
    </section>
</main>
{% include "base/footer.html" %}