{% load static %}
{% include "base/header.html" %}
<main class="page landing-page">
    <section class="clean-block clean-hero"
             style="background-image:url({% static 'img/scenery/my-background.jpeg' %});color:rgba(70, 70, 140, 0.85);">
        <div class="text">
            <h2>Wikirace</h2>
            <p>Open-source <b>сингл-/мультиплейрная</b> онлайн игра для соревновательных вики-гонок</p>
            <a href="/new">
                <button class="btn btn-primary btn-lg" type="button">Играть</button>
            </a>
            <span class="p-1"/>
            <a href="https://github.com/waleko/wiki_race">
                <button class="btn btn-outline-light btn-lg" type="button">GitHub страница</button>
            </a>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Info</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="{% static 'img/wikirace/round-screenshot.jpg' %}">
                </div>
                <div class="col-md-6">
                    <h3>Что такое вики-гонки</h3>
                    <div class="getting-started-info">
                        <p>Wikiracing — это игра, использующая онлайн-энциклопедию Википедия,
                            в которой, используя ссылки на другие статьи, игроки переходят с одной страницы на другую.
                            <a class="mylink"
                               href="https://en.wikipedia.org/wiki/Wikiracing">Узнать больше</a></p>
                    </div>
                    <a href="/new">
                        <button class="btn btn-outline-primary btn-lg" type="button">Играть сейчас</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Функциональности проекта</h2>
                <p>Этот веб-сайт является образовательным проектом на 1-м курсе <a class="mylink"
                                                                                   href="https://spb.hse.ru/en/ba/appmath/">ПМИ
                    в Питерской Вышке</a>. Больше информации на <a class="mylink"
                                                                   href="https://github.com/waleko/wiki_race">Github
                    странице</a>.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-feed icon"></i>
                    <h4>Асинхронные веб-сокеты</h4>
                    <p>Для обмена данными во время игры используются асинхронные веб-сокеты. Это обеспечивает игровой
                        процесс без задержек и не требует неэффективных и запутанных полл-запросов.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-docs icon"></i>
                    <h4>База данных</h4>
                    <p>Этот проект использует Postgresql базу данных как основное хранилище данных, а также использует
                        Redis для хранения кратко-срочной информации для веб-соокетов.
                        Обе эти базы данных управляются Heroku и позволяют автоматический scaling.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-check icon"></i>
                    <h4>Авто-деплой и CI/CD</h4>
                    <p>Деплой and CI/CD обеспечено платформой Heroku. Это позволяет сделать простой, но мощный pipeline
                        для этого проекта.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-people icon"></i>
                    <h4>Мультиплейер</h4>
                    <p>В Wikirace можно играть не только одному, но и в большой компании. Играйте со всеми Вашими
                        друзьями. Кто дойдёт до цели первый, наберёт больше очков!</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "base/footer.html" %}