<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://en.wikipedia.org/w/load.php?lang=en&modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.makeCollapsible.styles%7Cskins.vector.styles.legacy%7Cwikibase.client.init&only=styles&skin=vector"> <!--FIXME wiki css link-->
    <title>Parser output</title>
</head>
<body class="mediawiki">
<div id="content" class="mw-body" role="main">
<div class="mw-body-content">
{{ mw_parser | safe }}
</div>
</div>
</body>
</html>